node_modules/
.pnpm-store/
.turbo/

**/lib/
**/lib-types/
**/dist/
**/coverage/
**/*.tsbuildinfo

.env
.env.*
!.env.example
*.log
pnpm-debug.log*

/exm.local.yaml
/exm-lock.local.yaml
/packages/extension/.deploy/

.DS_Store
Thumbs.db
